
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: #F5F7FB;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

/* home page */

.menu {
  height: 100%;
}

.home--container {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.site-name {
  color: #293264;
  text-align: center;
  font-size: 31.25px;
  font-weight: 700;
  margin: 0;
}

.site-name::before {
  position: absolute;
  content: '';
  height: 200px;
  width: 250px;
  border-radius: 40%;
  background-color: #FFFAD1;
  right: -90px;
  top: -55px;
  transform: rotate(-130.491deg);
}

.site-name::after {
  position: absolute;
  content: '';
  height: 250px;
  width: 250px;
  background-color: #DEEBF8;
  left: -80px;
  bottom: -120px;
  border-radius: 45%;
  transform: rotate(-30deg);
}

.site-description {
  color: #293264;
  text-align: center;
  font-size: 16px;
  font-family: Inter;
}

.run-btn {
  border-radius: 15px;
  margin-top: 20px;
  background: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  border: none;
  padding: 15px 50px;
  cursor: pointer;
}

/* quesions page */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 20px 40px;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.question {
  color: #293264;
  font-size: 16px;
  font-family: Karla;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.choice-btn {
  border: none;
  border-radius: 7.942px;
  border: 0.794px solid #4D5B9E;
  padding: 5px 10px;
  color: #293264;
  min-width: 150px;
  flex: 1;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background: #DBDEF0;
  height: 1px;
  margin: 20px 0 ;
}

/* check button */

.check-btn {
  margin: 10px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  font-size: 0.9rem;
  font-family: Inter;
  cursor: pointer;
}

.check-btn::before {
  position: absolute;
  content: '';
  height: 150px;
  width: 150px;
  background-color: #DEEBF8;
  left: -70px;
  bottom: -100px;
  border-radius: 45%;
  transform: rotate(-50deg);
}

.check-btn::after {
  position: absolute;
  content: '';
  height: 250px;
  width: 350px;
  background-color: #FFFAD1;
  right: -240px;
  top: -160px;
  border-radius: 45%;
  transform: rotate(60deg);
}

/* score */

.score {
  color: #293264;
  font-weight: 700;
  margin: 0;
  display: inline;
  font-family: Inter;
}

/* options selector */

.options-selector {
  background-color: #DBDEF0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: Inter;
  cursor: pointer;
}

.options-selector::-webkit-scrollbar {
  width: 20px;
}

.options-selector::-webkit-scrollbar-track {
  border: rgb(180, 180, 180);
  background-color: #DBDEF0;
}

.options-selector::-webkit-scrollbar-thumb {
  background-color: #293264;
  border: none;
  border-radius: 20px;
}

/* back button */

.fa-arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
  font-size: 20px;
  color: #293264;
  cursor: pointer;
}

/* level system */

.player-level-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 5px 0px;
}

.level-rank p {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.level-xp-container {
  display: flex;
  justify-content: left;
  width: 50%;
  background-color: gray;
  border-radius: 100vw;
  height: 6px;
}

.xp {
  border-top-left-radius: 100vw;
  border-bottom-left-radius: 100vw;
  transition: all 0.4s ease-in;
}

.xp p {
  margin: 0;
  color: #DBDEF0;
  font-weight: 700;
}


@media (min-width: 710px) {
  .game {
    height: 100vh;
    justify-content: center;
  }

  .question-container {
    max-width: 630px;
  }

  .check-btn::before {
    left: -150px;
    bottom: -200px;
    width: 300px;
    height: 300px;
  }

  .check-btn::after {
    width: 250px;
    height: 250px;
    right: -120px;
    top: -120px;
  }

  .site-name::before {
    height: 200px;
    width: 350px;
    right: -100px;
    top: -55px;
  }
  
  .site-name::after {
    height: 350px;
    width: 250px;
    left: -80px;
    bottom: -120px;
  }

  /* level system */

  .player-level-container {
    padding: 10px 0px;
  }

  .level-rank p {
    font-size: 1.2rem;
  }

  .level-xp-container {
    height: 10px;
  }


}

@media (min-width: 1024px) {
  .check-btn::before {
    left: -200px;
    bottom: -250px;
    width: 400px;
    height: 400px;
  }

  .check-btn::after {
    width: 350px;
    height: 300px;
    right: -150px;
    top: -120px;
  }

  .site-name::before {
    height: 300px;
    width: 450px;
    right: -130px;
    top: -55px;
  }
  
  .site-name::after {
    height: 450px;
    width: 300px;
    left: -80px;
    bottom: -120px;
  }

}

